/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
	transition: all 0.4s;
}
.fade-transform-enter-from {
	opacity: 0;
	transition: all 0.4s;
	transform: translateX(-30px);
}
.fade-transform-leave-to {
	opacity: 0;
	transition: all 0.4s;
	transform: translateX(30px);
}


.fade-left-enter-active,
.fade-left-leave-active {
	transition: all 1.2s ease-in-out !important;
	transform-style: preserve-3d !important;
}

.fade-left-enter-from,
.fade-left-leave-to {
	transform: translateX(-1000px) scale(0.3) rotate(-30deg) !important;
	opacity: 0;
}

.fade-right-enter-active,
.fade-right-leave-active {
	transition: all 1.2s ease-in-out !important;
	transform-style: preserve-3d !important;
}

.fade-right-enter-from,
.fade-right-leave-to {
	// transform: translateX(1000px);
	transform: translateX(1000px) scale(0.3) rotate(30deg) !important;
	opacity: 0;
}